<ng-container *ngIf="pokemonList$ | async as pokemonList">
    <section class="container pokemon-list-container">
        <ul class="pokemon-list">
            <li class="pokemon-item" *ngFor="let pokemon of pokemonList">
                <poke-pokemon-card [pokemon]=pokemon></poke-pokemon-card>
            </li>
        </ul>

        <div class="pagination-container">
            <pagination [itemsPerPage]=itemsPerPage [totalItems]=totalItems (pageChanged)="pageChanged($event)">
            </pagination>
        </div>
    </section>
</ng-container>