<ng-container *ngIf="pokemon$ | async as pokemon">

    <section class="pokemon-details-container container">
        <div class="arrow-container left-arrow" (click)="emitPreviousPokemon(pokemon.id)">
            <img src="../../../../assets/icons/left-arrow.svg" alt="Left arrow">
        </div>
        <article class="info-container">
            <div class="image-container">
                <img [src]='pokemon["sprites"]["other"]["official-artwork"]["front_default"]' [alt]='pokemon.name'>
            </div>
            <div class="description-container">
                <div class="main-info-container">
                    <p class="name">{{ pokemon.name }}</p>
                    <p class="index">#{{ pokemon.id | number:'3.0-0' }}</p>
                </div>
                <div class="details-container">
                    <div class="details-measure-container">
                        <div class="details-inner">
                            <label>Height:</label>
                            <p class="measure">{{pokemon.height | unitConverter:'decimetre'}} m</p>
                        </div>

                        <div class="details-inner">
                            <label>Weight:</label>
                            <p class="measure">{{pokemon.weight | unitConverter:'hectogram'}} kg</p>
                        </div>
                    </div>

                    <div class="details-inner">
                        <label>Abilities:</label>
                        <ul class="abilities-list">
                            <li class="ability-container" *ngFor="let ability of pokemon.abilities">
                                <img src="../../../../assets/icons/pokeball.svg" alt="pokeball">
                                <p>{{ ability.ability.name }}</p>
                            </li>
                        </ul>
                    </div>

                    <div class="details-inner">
                        <label>Types:</label>
                        <ul class="types-list">
                            <li class="type-container" *ngFor="let type of pokemon.types">
                                <poke-pokemon-type [pokemonType]=type></poke-pokemon-type>
                            </li>
                        </ul>
                    </div>



                </div>
            </div>
        </article>
        <div class="arrow-container right-arrow" (click)="emitNextPokemon(pokemon.id)">
            <img src="../../../../assets/icons/right-arrow.svg" alt="Right arrow">
        </div>
    </section>

</ng-container>