.pokemon-details-container {
    background-color: white;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;

    .arrow-container {
        display: none;
    }

    .info-container {

        .image-container {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            background-color: #F2F2F2;
            border: 3px solid black;
            border-radius: 8px;

            img {
                width: 100%;
            }
        }

        .description-container {
            background-color: #F2F2F2;
            padding: 20px;
            border: 3px solid black;
            border-radius: 8px;

            p {
                text-transform: capitalize;
                font-size: 24px;
                margin: 0;
            }

            .main-info-container {
                margin-bottom: 50px;

                .index {
                    font-size: 32px;
                    margin-bottom: 0;
                }

                .name {
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 20px;
                }
            }

            .details-container {

                .details-measure-container {
                    margin-bottom: 10px;
                }

                .details-inner {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    label {
                        font-size: 24px;
                        font-weight: bold;
                    }

                    .measure {
                        text-transform: none;
                    }

                    .abilities-list {
                        list-style: none;
                        margin: 0;

                        .ability-container {
                            display: flex;
                            align-items: center;

                            img {
                                width: 20px;
                                height: 20px;
                                margin-right: 10px;
                            }
                        }
                    }

                    .types-list {
                        display: flex;
                        list-style: none;
                        margin: 0;

                        .type-container {
                            margin-right: 10px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 550px) {
    .pokemon-details-container {
        border: 3px solid #FF0000;
    }
}

@media screen and (min-width: 768px) {
    .pokemon-details-container {
        position: relative;
        border-color: #3B4CCA;
    
        .info-container {
            display: flex;

            .image-container {
                margin-right: 20px;
                margin-bottom: 0;
            }

            .description-container {
                .details-container {
                    .details-measure-container {
                        display: flex;

                        .details-inner:first-child {
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .pokemon-details-container {
        padding: 50px;

        .arrow-container {
            display: block;
            position: absolute;
            background-color: white;
            padding: 20px 10px;
            border: 3px solid #3B4CCA;
            img {
                width: 20px;
                height: 20px;
            }
    
            &:hover {
                background-color: #3B4CCA;
            }
        }
    
        .left-arrow {
            top: 50%;
            left: 0;
            transform: translate(-100%, -50%);
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            border-right: none;
        }
    
        .right-arrow {
            top: 50%;
            right: 0;
            transform: translate(100%, -50%);
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            border-left: none;
        }
    }
}