:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    background-image: url('../assets/images/background-2.svg');
    @media (min-width: 768px) {
        background-image: url('../assets/images/background-3.svg');    
    }
}